extends layout

block content
	.gallery-detail.gallery-detail--code
		.gallery-detail-inner
			h1= project.title
			.gallery-detail-content
				.preview
					ul.preview-media
						for media in project.media
							li
								if media.type == 'image'
									if media.link
										a.preview-media-item(href=media.link)
											img(src=media.src, alt=media.alt || media.caption)
											span.preview-media-caption
												.text= media.caption
									else
										span.preview-media-item
											img(src=media.src, alt=media.alt || media.caption)

								else
									.preview-media-item
										video(src=media.src, autoplay=true, loop=true, controls=true, title=media.caption)

										
				.info
					.info-section
						h2 Overview
						div!= project.overview

					.info-section
						h2 Contributions
						ul
							each contribution in project.work
								li= contribution

					.info-section
						h2 Codestuffs
						ul
							each item in project.stack
								li= item