extends layout

block content
	.gallery-detail.gallery-detail--nom
		.gallery-detail-inner
			h1= nom.title

			.gallery-detail-content
				.preview
					ul.preview-media
						each media in nom.media
							li
								.preview-media-item
									if media.type == 'video'
										video(src=media.src, autoplay=media.autoplay, loop=media.loop, controls=media.controls, poster=media.poster, muted=true)
									else
										img(src=media.src, alt=media.alt || media.caption)

				.info
					| !{nom.overview}